.section {
	max-width: calc(6*var(--m25));
}

.tabWrapper {
	display: flex;
	margin-top: var(--m5);
}

.wrapper {
	margin-top: var(--m10);
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 50vh;
	scrollbar-color: #8585AD #2F2F37;
	scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
	width: var(--m2);
	background-color: #2F2F37;
}

.wrapper::-webkit-scrollbar-thumb {
	background-color: #8585AD;
}

.sortBlock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 24px 30px 65px 30px;
	gap: 56px;
}

.element {
	display: 'inline-block';
	cursor: pointer;
}

.priceWrapper {
	margin-top: var(--m1);
	display: flex;
	justify-content: center;
}

.price {
	margin-right: var(--m2);
}

.description {
	margin-top: var(--m2);
	max-width: calc(4*var(--m25));
	text-align: center;
}