.section{
	margin-top: var(--m15);
	display: flex;
	flex-direction: column;
}
.constructor{
	display: flex;
	flex-direction: column;
	padding-left: var(--m4);

}
.mainCards {
	margin-right: var(--m2);
	margin-top: var(--m4);
	margin-bottom: var(--m4);
	overflow-y: auto;	
	max-height: 350px;
	scrollbar-color: #8585AD #2F2F37;
	scrollbar-width: thin;
}
.mainCards::-webkit-scrollbar {
	width: var(--m2);
	background-color: #2F2F37;
}
.mainCards::-webkit-scrollbar-thumb {
	background-color: #8585AD;
}
.card {
	display: flex;
	align-items: center;
}
.cardTopBottom {
	padding-right: var(--m4);
	padding-left: var(--m8);
}
.cardMain {
	margin-top: var(--m4);
	width: 100%;
}
.cardMain:first-child {
	margin-top: 0;
}
.cardMainWithoutIng {
	margin-left: 32px;
	background: #2f2f37;
	max-width: 536px;
	width: 100%;
	margin-right: 8px;
	height: 80px;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cardTopWithoutIng {flex-direction: column;
	background: #2f2f37;
	max-width: 536px;
	width: 100%;
	margin-right: 8px;
	height: 80px;
	border-radius: 88px 88px 40px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cardBottomWithoutIng {
	background: #2f2f37;
	max-width: 536px;
	width: 100%;
	margin-right: 8px;
	height: 80px;
	border-radius: 40px 40px 88px 88px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.price {
	margin-top: var(--m10);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.primaryIcon {
	margin-right: var(--m10);
	margin-left: var(--m3);
}
.dragIcon {
	margin-right: var(--m2);
}