.section{
	margin-left: 40px;
	width: 600px;
	margin-top: 60px;
}
.constructor{
	display: flex;
	flex-direction: column;
	margin-left: 60px;

}
.mainCards {
	padding-bottom: 16px;
	overflow-y: auto;	
	max-height: 350px;
	scrollbar-color: #8585AD #2F2F37;
	scrollbar-width: thin;
}
.mainCards::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37;
}

.mainCards::-webkit-scrollbar-thumb {
	background-color: #8585AD;
}
.card {
	margin-top: 16px;
}

.price {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: end;
}
.marginRight {
	margin-right: 10px;
}