body {
  margin: 0;
	background-color: #131316;
	width: 100%;
	height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--m1: 4px;
	--m2: 8px;
	--m3: 12px;
	--m4: 16px;
	--m5: 20px;
	--m6: 24px;
	--m7: 28px;
	--m8: 32px;
	--m9: 36px;
	--m10: 40px;
	--m15: 60px;
	--m20: 80px;
	--m25: 100px;
}
